version: '3.5'
services:

  fatura:
    container_name: app-fatura
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - '8084:8084'
    networks:
      - net-driver
      - eureka_net-driver
      - conta-corrente_net-driver
    external_links:
      - eureka:eureka
      - conta-corrente:conta-corrente
    depends_on:
      - db
    links:
      - db
    restart: on-failure

  db:
    image: mysql
    container_name: dbfatura
    hostname: dbfatura
    restart: always
    networks:
      - net-driver
    ports:
      - '3303:3306'
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: faturadb
      MYSQL_USER: mysql
      MYSQL_PASSWORD: mysql
    ulimits:
      nofile:
        soft: 65536
        hard: 65536

networks:
  net-driver:
    driver: bridge
  eureka_net-driver:
    external: true
  conta-corrente_net-driver:
    external: true
